* {
    padding: 0;
    margin: 0;
}

#game {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}

#character {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    position: relative;
    top: 400px;
    left: 100px;
}

#block {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    top: 400px;
    animation: blockMove 1s infinite;
}

@keyframes blockMove {
    0% {
        top: -100px;
    }
    100% {
        top: 400px;
    }
}


#white {
    width: 300px;
    height: 110px;
    position: absolute;
    top: 500px;
    background-color: white;
    z-index: 100000;
    border-top: 1px solid black;
}

